/* Standard/Computer */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
    --bg-color: hsl(0, 0%, 100%);
    font-size: clamp(40%, 1% + 2vw, 62.5%);
  }

  .sr-only {
    width: 0.1rem;
    height: 0.1rem;
    position: absolute;
    overflow: hidden;
  
    margin: -0.1rem;
    padding: 0;
    border: 0;
    appearance: none;
  }

  body {
    background-color: var(--bg-color);
    color: var(--text-color);
    width: 100wh;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #app {
    display: grid;
    justify-items: center;

    grid-template-areas: "A A B B"
    "A A B B";
  }

  #timer {
    font-size: 12.6rem;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
  }

  /* Left */

  #left{
    grid-template-areas: "A A A A"
    "B B B B";

    grid-area: A;
    margin-right: 19.2rem;
  }

  #left button{

    all: unset;

  }
  #left #timer{
    grid-area: A;

  }

  #left #controls{
    display: flex;
    grid-area: B;

    margin-top: 4.8rem;
    justify-content: center;
    gap: 4rem;
    
  }

  #left #controls button {
    font-size: 4.8rem;
  }
  
  #right{
    grid-template-areas: "A A A A"
    "B B B B";
  }
  
  #right #upside{
    grid-area: A;
    display: flex;
    gap: 3.2rem;
  }

  #right #bottom{
    margin-top: 3.2rem;
    display: flex;
    grid-area: B;
    gap: 3.2rem;
  }

  #right div button {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5.6rem;
    width: 13.8rem;
    height: 15.2rem;
    background-color: #E1E1E6;
    border-radius: 2.4rem;
  }

  #right #upside button.active,
  #right #bottom button.active {
    background-color: #02799D;
    color: #FFFFFF;
  }

  @media (max-width: 640px) {
    :root {
      font-size: 40%;
    }
  
    #app {
      grid-template-areas: "A A A A"
      "B B B B";
    }

    #app #left{
      grid-area: A;
      margin-right: 0;
      margin-bottom: 4rem;
    }

    #app #right {
      grid-area: B;
      margin-bottom: 8rem;
    }
  }
  /* Phones */
  @media (min-width: 640px) and (max-width: 1280px) {
    :root{
      font-size: 51.25%;
    }

    #app {
      grid-template-areas: "A A A A"
      "B B B B";
    }

    #app #left{
      grid-area: A;
      margin-right: 0;
      margin-bottom: 4rem;
    }

    #app #left #timer {
      align-items: center;
      display: flex;
      justify-content: center;
    }

    #app #right {
      grid-area: B;
    }
    
  }

  /* Tablets */
  @media screen and (max-width: 1280px) and (min-height: 1024px) {
    
    :root{
      font-size: 51.25%;
    }

    #app {
      grid-template-areas: "A A A A"
      "B B B B";
    }

    #app #left{
      grid-area: A;
      margin-right: 0;
      margin-bottom: 4rem;
    }

    #app #left #timer {
      align-items: center;
      display: flex;
      justify-content: center;
    }

    #app #right {
      grid-area: B;
      margin-bottom: 56rem;
    }

  }