* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
    --bg-color: hsl(0, 0%, 100%);
    font-size: clamp(40%, 1% + 2vw, 62.5%);
  }

  .sr-only {
    width: 0.1rem;
    height: 0.1rem;
    position: absolute;
    overflow: hidden;
  
    margin: -0.1rem;
    padding: 0;
    border: 0;
    appearance: none;
  }

  body {
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    height: 100vh;
  }

  #app {
    display: grid;
    justify-items: center;

    grid-template-areas: "A A B B"
    "A A B B";

    gap: 19.2rem;

    margin: 19.6rem 22.6rem 18.8rem 23.3rem;
  }

  #timer {
    font-size: 12.6rem;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
  }

  /* Left */

  #left{
    grid-template-areas: "A A A A"
    "B B B B";

     grid-area: A;
  }

  #left button{

    all: unset;

  }
  #left #timer{
    grid-area: A;

  }

  #left #controls{
    display: flex;
    grid-area: B;

    margin-top: 4.8rem;
    justify-content: center;
    gap: 4rem;
    
  }

  #left #controls button {
    font-size: 4.8rem;
  }
  
  #right{
    grid-template-areas: "A A A A"
    "B B B B";
  }
  
  #right #upside{
    grid-area: A;
    display: flex;
    gap: 3.2rem;
  }

  #right #bottom{
    margin-top: 3.2rem;
    display: flex;
    grid-area: B;
    gap: 3.2rem;
  }

  #right div button {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5.6rem;
    width: 13.8rem;
    height: 15.2rem;
    background-color: #E1E1E6;
    border-radius: 2.4rem;
  }

  #right #upside button.active,
  #right #bottom button.active {
    background-color: #02799D;
    color: #FFFFFF;
  }